server:
  port: 8081

spring:
  application:
    name: customers-service

  datasource:
    url: jdbc:postgresql://localhost:5433/customers
    username: customers
    password: customers
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      retries: 0
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      request.timeout.ms: 2000
      delivery.timeout.ms: 3000

logging:
  level:
    root: INFO
    org.springframework: INFO
