server:
  port: 8082

spring:
  application:
    name: accounts-service

  datasource:
    url: jdbc:postgresql://localhost:5434/accounts
    username: accounts
    password: accounts
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.springframework: INFO
